{% extends 'base_account.html' %}
{% block title %}Change password successful{% endblock %}
{% block form %}

<div class="row justify-content-center">
	<div class="col-lg-4 col-md-6 col-sm-8">
		<div class="card">
			<div class="card-body">
				<li class="breadcrumb-item"></li>
<li class="breadcrumb-item active">Success</li>

<div class="alert alert-success" role="alert">
<strong>Success!</strong> Your password has been changed!</div>
<a href="{% url 'home' %}" class="btn btn-secondary">Returnto home page</a>
			</div>
		</div>
	</div>
</div>



{% endblock %}